*.Rcheck
*.tar.gz
*.so
*.o
.local
src-*
OPTMATCH_TIMESTAMP
optmatch_*
performance.aux
performance.fdb_latexmk
performance.fls
performance.log
performance.pdf
performance.tex
performance-*.pdf
vignettes/performance/*.rda
*.swp
.pkgexclude
inst/doc
vignettes/figure
vignettes/*.md
