useDynLib(optmatch)

export(fullmatch, 
       pairmatch, 
       matched.distances, 
       matched, 
       matchfailed, 
       unmatched, 
       maxControlsCap, 
       minControlsCap, 
       relaxinfo, 
       stratumStructure, 
       caliper, 
       mdist, 
       fill.NAs,
       exactMatch,
       makeInfinitySparseMatrix,
       as.InfinitySparseMatrix)

### S3 Stuff

S3method(print, optmatch)
S3method(summary, optmatch)
S3method("[", optmatch)
S3method(print, summary.optmatch)
S3method(dim, InfinitySparseMatrix)
S3method(subset, InfinitySparseMatrix)

S3method(cbind, InfinitySparseMatrix)
S3method(rbind, InfinitySparseMatrix)
S3method(cbind, BlockedInfinitySparseMatrix)
S3method(rbind, BlockedInfinitySparseMatrix)

S3method(t, InfinitySparseMatrix)
S3method(t, BlockedInfinitySparseMatrix)

### S4 Stuff

exportClasses(InfinitySparseMatrix, BlockedInfinitySparseMatrix, DistanceSpecification)
exportMethods(as.matrix, colnames, rownames)
